* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(251, 229, 217);
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  flex: 1;
}

.part {
  text-align: center;
}

.shade {
  height: 80%;
}

.nav-link {
  display: block;
  padding: 1px;
  height: 20%;
  width: 100%;
  background: rgb(200, 155, 134);
}

.nav-link:hover {
  background: rgb(182, 141, 122);
}

.nav-link:active {
  background: rgb(159, 108, 81);
}

.part-1 {
  background: rgb(49, 20, 18);
  width: 20%;
}

.part-2 {
  background: rgb(83, 43, 27);
  width: 20%;
}

.part-3 {
  background: rgb(154, 77, 34);
  width: 20%;
}

.part-4 {
  background: rgb(181, 101, 48);
  width: 20%;
}

.part-5 {
  background: rgb(209, 130, 67);
  width: 20%;
}

.logo {
  position: absolute;
  font-size: 2.5rem;
  color: rgb(254, 239, 227);
  top: 13px;
  left: 50%;
  transform: translate(-50%, -0%);
  z-index: 10;
}
